<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let i of listaIngresosEgresos | ingresoEgreso">
                  <td>{{i.descripcion}}</td>
                  <td>{{i.monto}}</td>
                  <td 
                    [class.text-success]="i.tipo === 'ingreso' "
                    [class.text-danger]="i.tipo === 'egreso' "
                  >{{i.tipo}}</td>
                  <td>
                    <button class="btn btn-danger" type="button" (click)="borrar(i.uid)">
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
  